body {
    padding-top: 56px;
}
.navbar-dark .dropdown-menu {
    margin-top: 8px;
}

/* user styles */
.user-photo {
    width: 180px;
    height: 180px;
    border: 8px solid #999;
    border-radius: 50%;
}
.card-body-frame:nth-last-child(1) hr {
    display: none;
}
.card-body .row div:nth-child(1) h4,
.card-body .row div:nth-child(1) h5 {
    color: #9e9e9e;
}
.card-body .row div:nth-child(2) .photo-frame {
    margin: 0em auto;
    text-align: center;
}
.card-body .row div:nth-child(2) .photo-frame img {
    margin-bottom: 8px;
}
